body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image:  url(https://images7.alphacoders.com/418/418742.jpg);
    background-size: 110%;
    background-repeat: repeat-x;
    animation: deslizarfundo 20s ease-in-out infinite;
    font-size: 20px;
    z-index: 10;
    font-family: 'Press Start 2P', monospace;
}

@keyframes deslizarfundo {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: -155px 0;
    }
    100% {
        background-position: 0 0;
    }
}

#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#introvd {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#paginainicio {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#intro1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: none;
}

#introo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#intro2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: none;
}

#intron {
    width: 105%;
    height: 105%;
    object-fit: cover;
    z-index: 100;
}

#intro3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: none;
}

#introe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
}

#cliqueinicial {
    display: flex;
    justify-content: center;
    padding-top: 900px;
    color: rgba(255, 255, 255, 0.629);
    background-color: rgba(0, 136, 255, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    position: fixed;
    top: -30%;
    left: -15%;
    width: 2000px;
    height: 1000px;
    z-index: 101;
    cursor: none;
}

#cliqueinicial:hover {
    border: 0px solid rgba(0, 0, 0, 0);
}

#overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: background-color 0.5s ease;
    z-index: 1;
}

.caixadeconteudo {
    max-width: 900px;
    max-height: 550px;
    background-color: gray;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    top: 50%;
    margin-top: 100px;
    z-index: 10;
}

#menuinicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

#minecraft {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
    z-index: 10;
}

button {
    font-family: 'Press Start 2P', monospace;
    color: white;
    font-size: 20px;
    background-color: gray;
    border: 4px solid black;
    width: 350px;
    height: 70px;
    color: black;
    z-index: 10;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(32, 107, 18);
    box-shadow: 2px 2px rgba(46, 46, 46, 0.43);
    cursor: pointer;
    z-index: 10;
}

button:active {
    background-color: rgb(17, 81, 15);
    border: 6px solid black ;
    z-index: 10;
}

#marketplace {
    background-color: rgb(170, 15, 172);
    color: rgb(0, 0, 0);
    z-index: 10;
}
#marketplace:hover {
    background-color: rgb(102, 7, 119);
    color: white;
    z-index: 10;
}

#marketplace:active {
    background-color: rgb(81, 4, 99);
    color: white;
    z-index: 10;
}

#personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 49%;
    right: 15%;
    filter: contrast(115%);
    margin-bottom: 10px;
}

#skin {
    width: 120px;
    height: 50px;
    font-size: 17px;
    z-index: 10;
    margin-bottom: 10px;
    position: absolute;
    top: 93%;
}

#nome {
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
    font-size: 17px;
    padding: 12px;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: -8%;
}

#minecoin {
    width: 32px;
    position: absolute;
    top: 25%;
    right: 2%;
}

#qtdminecoins {
    color: white; background-color: black; position: absolute; top: -11%; right: 1.6%; padding: 8px; font-size: 22px; border-radius: 3px;
}

#conquistas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 16%;
    top: 75%;
    z-index: 10;
}

.conquista {transition: 0.2s ease-in-out;}
.conquista:hover {transform: scale(1.1);}

#msc {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#posicaomsc {
    z-index: 10;
    position: absolute;
    top: 1%;
    right: 0.4%;
}

.credito {
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.658);
    padding: 13px;
}

#credito1 {
    position: absolute;
    top: 92.65%;
    left: 0%;
}
#credito2 {
    position: absolute;
    right: 0%;
    top: 92.65%;
}

#sobremim {
    display: none;
    justify-content: center;
    align-items: flex-start;
    width: 900px;
    height: 550px;
    z-index: 10;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: gray;
    text-align: center;
    position: absolute;
    top: 15%;
    line-height: 30px;
    font-size: 18px;
    gap: 10px;
    max-width: 900px;
    max-height: 550px;
    padding: 20px;
    margin: auto;
}

#botaovoltarsm {
    width: 200px;
    height: 50px;
    margin-top: 90px;
    box-shadow: 3px 3px rgba(49, 49, 49, 0.412);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: -30%;
    top: 98%;
    z-index: 10;
}

#txtsobremim {
    position: absolute;
    top: 10%;
    text-align: left;
    max-width: 900px;
}

#minhasconquistas {
    display: none;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 550px;
    z-index: 10;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: gray;
    text-align: left;
    position: absolute;
    top: 15%;
    line-height: 30px;
    font-size: 18px;
    gap: 10px;
    text-align: left;
}

#botaovoltarc {
    width: 200px;
    height: 50px;
    margin-top: 90px;
    box-shadow: 3px 3px rgba(49, 49, 49, 0.412);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: -32%;
    top: 101%;
    z-index: 10;
}

#minhafoto {
    border: 5px solid black;
    border-radius: 4px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.499);
    object-fit: cover;
    position: absolute;
    top: 38%;
    left: 69%;
    z-index: 10;
    transition: 0.5s ease;
}

#minhafoto:hover {
    transform: scale(1.05);
}

.return {
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 18px;
    z-index: 10;
}

.return:hover {
    background-color: red;
}

.return:active {
    background-color: rgb(179, 0, 0);
}

#opcoes {
    display: none;
    justify-content: center;
    align-items: center;
    width: 940px;
    height: 900px;
    z-index: 10;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: gray;
    gap: 10px;
    text-align: center;
    line-height: 1.4;
    position: absolute;
    top: 5%;
    font-size: 17px;
}

#voltardeopcoes {
    position: absolute;
    left: -26%;
    bottom: 0%;
}

.quadradopreto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 800px;
    height: 450px;
    gap: 60px;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(26, 26, 26, 0.422);
    z-index: 10;
}

#txtpqm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 1000px;
    height: 900px;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(26, 26, 26, 0.422);
    max-width: 900px;
}

#pageskins {
    display: none;
    z-index: 10;
}

#sobreskin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 14%;
    left: 43%;
    width: 830px;
    height: 660px;
    background-color: gray;
    border: 5px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.333);
    border-radius: 5px;
}

#voltardomp {
    width: 60px;
    height: 50px;
    margin-top: 90px;
    box-shadow: 3px 3px rgba(49, 49, 49, 0.412);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1%;
    top: -120%;
    z-index: 11;
}

.botoesdeskin {
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    display: flex;
    transition: 0.5s ease;
}

.botoesdeskin:hover {
    transform: scale(1.15);
}

#containermenudeskins {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: absolute;
    left: 5%;
    top: 15%;
}

#descricaoskin {
    position: absolute;
    top: 69%;
    height: 100px;
    color: white;
}

#skinmenu {
    position: absolute;
    top: 14%;
}
#nickskin {
    position: absolute;
    top: 1%;
}

#quadradonotopodomp {
    background-color: gray;
    border: 4px solid black;
    border-radius: 5px;
    position: absolute;
    top: -1%;
    left: 0%;
    width: 1520px;
    height: 55px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 13px;
    z-index: 10;
}

#skinequipadaaviso {
    color: white;
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.85);
    border: 3px solid black;
    border: 1px solid rgb(61, 61, 61);
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    z-index: 11;
    transition: 0.5 ease-out;
}


#escolherdimensao {
    display: none;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 550px;
    z-index: 10;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: gray;
    position: absolute;
    top: 15%;
}

#d1:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
}

#d2:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
}

#d3:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
}

#botaovoltared {
    width: 200px;
    height: 50px;
    margin-top: 90px;
    box-shadow: 3px 3px rgba(49, 49, 49, 0.412);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: -30%;
    top: 98%;
    z-index: 10;
}

#primeiroano {
    display: none;
    text-align: center;
    z-index: 10;
    
}

.barrinhanotopo {
    width: 1520px;
    height: 50px;
    z-index: 10;
    background-color: gray;
    border: 4px solid black;
    top: -2%;
    padding-bottom: 20px;
    position: absolute;
    left: 0%;
}

#barrinhalateral {
    display: flex;
    align-items:end;
    justify-content: start;
    position: absolute;
    left: -16%;
    top: 7.7%;
    flex-direction: column;
    background-color: rgb(170, 170, 170);
    border: 4px solid black;
    border-radius: 5px;
    height: 789px;
    width: 300px;
    transition: transform 0.7s ease-in-out;
}

#barrinhalateral:hover {
    transform: translate(230px);
}

.botaobl {
    width: 270px;
    height: 60px;
    padding-right: 40px;
    text-align: left;
    margin-top: 10px;
    margin-right: 5px;
    box-shadow: 2px 2px rgba(54, 54, 54, 0.545);
}

.botaobl:hover {
    background-color: green;
}

#blmt:hover, #blnz:hover, #bllg:hover, #blhm:hover, #blpv:hover, #blsn:hover {
    background-color: rgb(0, 104, 0) !important;
}

#iconemath {
    position: absolute;
    top: 2.5%;
    left: 83%;
}

#iconeling {
    position: absolute;
    left: 81%;
    width: 43px;
    top: 11.4%;
}

#iconecn {
    position: absolute;
    width: 53px;
    left: 79.7%;
    top: 19.2%;
}

#iconech {
    position: absolute;
    width: 50px;
    top: 28.5%;
    left: 80%;
}

#iconepv {
    position: absolute;
    width: 42px;
    left: 81.7%;
    top: 38%;
}

#iconesenai {
    position: absolute;
    width: 50px;
    top: 46.3%;
    left: 80.6%;
}

.livroatividade {
    width: 64px;
}
.livroatividade:hover {
    background-color: green;
    cursor: pointer;
}

#atv1 {
    position: absolute;
    left: 15%;
    top: 52%;
}
#atv7 {
    position: absolute;
    left: 15%;
    top: 85.5%;
}
#atv2 {
    position: absolute;
    left: 25.2%;
    top: 52%;
}
#atv6 {
    position: absolute;
    left: 25.2%;
    top: 74%;
}
#atv5 {
    position: absolute;
    left: 15%;
    top: 74%;
}
#atv3 {
    position: absolute;
    left: 15%;
    top: 63%;
}
#atv4 {
    position: absolute;
    left: 25.2%;
    top: 63%;
}
#atv8 {
    position: absolute;
    left: 25.2%;
    top: 85.5%;
}

#atividades {
    background-color: rgb(171, 171, 171);
    border: 4px solid black;
    border-radius: 5px;
    flex-direction: column;
    position: absolute;
    top: 18%;
    left: 8%;
    width: 570px;
    height: 571px;
    display: none;
    align-items: center;
}

#fotoatvd {
    width: 300px;
    border: 4px solid black;
    box-shadow: 3px 3px rgba(21, 21, 21, 0.315);
    transition: 0.7s ease;
}

#fotoatvd:hover {
    transform: scale(1.87);
}

#descricaoatvd {
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(21, 21, 21, 0.315);
    max-width: 520px;
    padding: 10px;
    line-height: 1.3;
}

.inventario {
    position: absolute;
    top: 15%;
    right: 1%;
}

#inventarioM {
    display: flex;
}
#inventarioL {
    display: none;
}
#inventarioN {
    display: none;
}
#inventarioH {
    display: none;
}
#inventarioP {
    display: none;
}
#inventarioS {
    display: none;
}

#voltardopa {
    width: 70px;
    height: 50px;
    margin-top: 90px;
    box-shadow: 3px 3px rgba(49, 49, 49, 0.412);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 1%;
    top: -110%;
    z-index: 10;
}

#segundoano {
    display: none;
    z-index: 10;
}

#terceiroano {
    display: none;
    z-index: 10;
}

#enchanted-text {
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #9d6dff, #ffffff, #c9189d);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow 4s ease infinite;
    text-shadow: 0 0 10px rgba(255, 42, 230, 0.7);
    padding: 20px;
     text-align: center;
    z-index: 110;
    position: absolute;
    top: 80%;
}
        
@keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

#voltardosa {
    width: 70px;
    height: 50px;
    margin-top: 90px;
    box-shadow: 3px 3px rgba(49, 49, 49, 0.412);
    padding: 10px;
    display: none; /* Mude de 'none' para 'flex' */
    justify-content: center;
    position: absolute;
    z-index: 100; /* Aumente o z-index */
    top: -10%; /* Posição mais visível */
    left: 20px; /* Posição mais visível */
    background-color: gray;
    border: 4px solid black;
}

#voltardosa:hover {
    background-color: red;
}

#voltardosa:active {
    background-color: rgb(179, 0, 0);
}

#voltardota {
    width: 70px;
    height: 50px;
    margin-top: 90px;
    box-shadow: 3px 3px rgba(49, 49, 49, 0.412);
    padding: 10px;
    display: none; /* Mude de 'none' para 'flex' */
    justify-content: center;
    position: absolute;
    z-index: 100; /* Aumente o z-index */
    top: -10%; /* Posição mais visível */
    left: 20px; /* Posição mais visível */
    background-color: gray;
    border: 4px solid black;
}

#voltardota:hover {
    background-color: red;
}

#voltardota:active {
    background-color: rgb(179, 0, 0);
}